<body class="bk">
<%= form_tag :controller => "languages", :action => "select", :method => 'post' do %>

  <div class ="text-center welcome-page">
    <h1>Welcome!</h1>
    <h4>To begin your learning journey, please select a language</h4>
      <div class="field">
        <!-- <label for="select">Language</label> -->
        <label>Language</label>
        <%= collection_select :language, :Langopt_id, Langopt.all, :id, :name %>
      </div>
     
      <div class="action">
        <%= submit_tag "Search", :class => "btn btn-primary" %>
      </div>
                   
   </div>
<% end %>
</body>



