<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Feedback Received</h1>
      <h3> <%= @feedback_user %> said: </h3>
      <p><%= @comment %></p>
                 
   </body>
</html>